@media screen and (min-width: 1025px) {
  .feature1 {
    .content {
      &.type1  {
        margin-right: 10vw;
        box-shadow: 0 .3vw .2vw 0 #b8bec7;
        align-items: flex-end;
        > .title {
          left: calc(50% + .25em);
        }
        > .img-body > img {
          position: absolute;
          width: auto;
          height: 120%;
          top: -10%;
          left: 10%;
        }
        > .body {
        }
      }
    }
  }
  .feature2 {
    .content {
      &.type2  {
        margin-right: 10vw;
        box-shadow: 0 .3vw .2vw 0 #b8bec7;
        align-items: flex-end;
        > .title {
          left: calc(50% + .25em);
        }
        > .img-body > img {
          position: absolute;
          width: auto;
          height: 120%;
          top: -10%;
          left: 10%;
        }
        > .body {
        }
      }
    }
  }
  .feature3 {
    .content {
      &.type3  {
        margin-right: 10vw;
        box-shadow: 0 .3vw .2vw 0 #b8bec7;
        align-items: flex-end;
        > .title {
          left: calc(50% + .25em);
        }
        > .img-body > img {
          position: absolute;
          width: auto;
          height: 120%;
          top: -10%;
          left: 10%;
        }
        > .body {
        }
      }
    }
  }
}