/*左から右テキストエフェクト*/
.leftAnime {
    opacity: 0;
    overflow: hidden;
    display: inline-block;
  }
 
  .leftAnimeInner {
    display: inline-block;
  }
 
/* //次章で追加するクラス */
  .slideAnimeLeftRight {
    animation-name: slideTextX100;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
 
  @keyframes slideTextX100 {
    from {
      transform: translateX(-100%);
      /*要素を左の枠外に移動*/
      opacity: 0;
    }
 
    to {
      transform: translateX(0);
      /*要素を元の位置に移動*/
      opacity: 1;
    }
  }
 
/* //次章で追加するクラス */
  .slideAnimeRightLeft {
    animation-name: slideTextX-100;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timing-function: ease;
  }
 
 
  @keyframes slideTextX-100 {
    from {
      transform: translateX(100%);
      /*要素を右の枠外に移動*/
      opacity: 0;
    }
 
    to {
      transform: translateX(0);
      /*要素を元の位置に移動*/
      opacity: 1;
    }
  }



  /* ここから違う */
  .fadeIn {
    animation-name: fadeInAnime;/*1で解説*/
    animation-fill-mode:backwards;/*2で解説*/
    animation-duration:3s;/*3で解説*/
    /* animation-iteration-count:infinite; */
    animation-timing-function:ease;/*5で解説*/
    animation-delay: 0.5s;/*6で解説*/
    animation-direction:normal;/*7で解説*/
    }
    
    /*1で解説*/
    @keyframes fadeInAnime{
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }